{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Running a game in Slack?</h1>
          <h1 class="mb-5">Let the GM bot do the tedious work for you!</h1>
        </div>
      </div>
    </div>
  </header>

  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <a href="{% url 'gm:game-list' %}">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <img src="{% static 'wisdom.png' %}"/>
              <h3>GMs</h3>
              <p class="lead mb-0">
                Create and manage your games. Track game time and encounters, monster stats,
                and let the Slack bot automatically ping your players when it is their turn to go.
              </p>
            </div>
          </a>
        </div>
        <div class="col-lg-6">
          <a href="{% url 'gm:game-list' %}">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <img src="{% static 'dice-twenty-faces-twenty.png' %}"/>
              <h3>Players</h3>
              <p class="lead mb-0">
                Add your characters, their statblocks, and their .por files. Configure timing and frequency
                of Slack notifications.
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>


  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Ready to get started? Sign up now!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
